<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          A. Basic corporate setup
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>To complete the incorporation, a number of additional steps need to be completed. These tasks are typically performed by a lawyer, and it is highly recommended that you seek professional help to complete these steps. We have sent you an email containing your certificate of incorporation and some helpful information. You can also <%= link_to "download", corporation_path(@corporation, format: "pdf") %> this information here.<p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          1. Verify name availability
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Confirm availability of the name chosen for your company. This can be done at no charge at the Delaware Secretary of State website. Similarly it is suggested that you check the name in any state in which you will be doing business. It is also recommended to check the USPTO to verify whether anyone has trademarked the desired company name.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          2. Choose and engage a registered agent
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Delaware law requires that every corporation has and maintains a Delaware Registered Agent. A Registered Agent is an individual or corporation that ensures government and legal documents can be delivered to the company.
      </div>
    </div>
  </div>


<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          3. File the Certificate of Incorporation
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        File the signed and dated Certificate of Incorporation with the Delaware Secretary of State. Filings can be done using mail or fax. Delaware suggests using this cover sheet if you file using fax. You will receive evidence of filing and certification of formation once your Certificate of Incorporation has been accepted by the Delaware Secretary of State’s office.

      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          4. Get a Federal Employer Identification Number
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        All corporations are obliged to obtain a Federal Employer Identification Number (“EIN”). The EIN is a unique nine-digit number assigned by the Internal Revenue Service (IRS) to business entities operating in the United States for the purposes of identification. Filing can be completed online using the IRS website.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          5. Draft by-laws for the corporation
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        By-laws are the rules established by the corporation to regulate itself. They can contain provisions relating to a variety of company matters, such as the shareholders, directors and company stock. Delaware law requires corporations to have by-laws, but the by-laws do not need to be filed.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          6. Adopt by-laws and sign consents
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        Date and sign the by-laws and the various consents documenting the establishment of the corporation (Consent in Lieu of First Meeting of Board of Directors and Consent in Lieu of Meeting of Sole Incorporator). 
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          B. Advanced Corporate Setup
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        In addition to the basic corporate setup, company founders will typically want to issue stock. Several documents are involved in the process, and non-compliance can have serious tax consequences. These tasks are typically performed by a lawyer, and it is highly recommended that you seek professional help to complete these steps.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          1. Obtain signed and dated copies of each Founder’s subscription letter
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="panel-body">
        Each founder who receives stock in the company will have to sign and date a subscription letter documenting their acquisition of shares in the company and the price paid for these shares. 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          2. Obtain signed and dated copies of each Founder’s Stock Restriction Agreement
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse">
      <div class="panel-body">
        Founders can choose to sign a Stock Restriction Agreement that makes their ownership of shares subject to certain conditions. It is typical for startup founders to enter into Stock Restriction Agreements that make the ownership of shares subject to a four-year vesting period with a one-year cliff. 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          3. Complete stock certificates
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse">
      <div class="panel-body">
        Print the first and second page of each Stock Certificate on both sides of a single sheet of paper to ensure that the second page (the “reverse side”) containing the applicable restrictive legends does not get detached from the front page of the certificate.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
          4. Collect the purchase price of the shares
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse">
      <div class="panel-body">
        Collect the applicable purchase price for the shares from each founder (each founder’s aggregate purchase price is reflected in his or her respective Subscription Letter) and retain evidence of payment for the Company’s records.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
          5. File 83(b) elections 

        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse">
      <div class="panel-body">
        Any founder who is entering into a Founder Stock Restriction Agreement and subjecting his or her shares to vseting, must decide whether or not to file an 83(b) election with the Internal Revenue Service (IRS).  Such decision should be made in consultation with a tax advisor. To be effective, an 83(b) election must be filed with the IRS within 30 days of purchasing the shares.  

      </div>
    </div>
  </div>




</div>

