<div class="jumbotron">
  <h1>Incorporate today</h1>
  <p>Incbot is the easiest way to incorporate in Delaware. It's free, fast and easy. </p>
  <%= link_to "Let's get started", new_corporation_path, class: 'btn btn-warning btn-lg' %>


</div>